*.a
*.o
*~
.deps
Makefile.in
Makefile

/aclocal.m4
/autom4te.cache/*
/build-aux/*

/config.cache
/config.h
/config.hin
/config.h.in
/config.log
/config.status
/configure
/configure.lineno

/lib/*
!/lib/Makefile.am

/m4/*

/stamp-h1



